h3{
    padding: 0;
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}



.myblogcard{
    width: 100vh;
    height: 250px;
   background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,245,248,1) 35%, rgba(236,236,237,1) 100%);
    box-shadow: 0 13px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 30px;
    transition: background-color .5s, box-shadow .5s, margin-left .5s;
    margin-left: auto;
    margin-right: auto;

  }
  .myblogcard:hover{
    background-color: #ffff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    transition: background-color .5s, box-shadow .5s, margin-left .5s;
  }
  .blog-image{
    width: 200px;
    height: 220px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px 10px 10px;
    float: left;
  }
  .blog-content{
    width: 55%;
    height: 250px;
    float: left;
    margin-left: 5px;
    overflow: hidden;
  }
  .mystyle{
    height: 700px;
   
  }
  .blog-header{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    color: #3B3C3F;
    margin-left: 10px;
    text-align: center;
    height: 27px;
    overflow: hidden;
  }
  .blog-text{
    font-size: 15px;
    padding-left: 20px;
    color: #768CA4;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    overflow: hidden;
    
  }

  .blog-text-style{
    height: 500px;
    overflow-y: scroll;
  }
  .blog-seemore{
    font-size: 15px;
    padding-left: 20px;
    color: #768CA4;
    font-family: 'Roboto', sans-serif;  
  }
  .author{
    width: 100%;
    height: 60px;
    /*background-color: #E4E6EB;*/
    background-color: #F2F5F8;
    margin-top: 5px;
    border-radius: 10px;
    
  }
  .author-content{
    width: 60%;
    height: 60px;
    margin-left: 10px;
    
    float: left;
  }
  .author-image{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
  }
  .author-name{
    font-size: 20px;
    color: #3B3C3F;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
  }
  .date{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin-top: -15px;
    padding-left: 10px;
  }

  .blogbottom{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
    height:auto;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 10px;
  }
  .blogbottom p{
    width: 60%;
    height: 60px;
    margin-left: 10px;
    float: left;
  }


@media screen and (max-width:760px) {
    .myblogcard{
        padding: 0;
        margin: 0;
        flex-direction: column;
        width: auto;
        height: auto;
      }
      .blog-image{
        width: auto;
        height: 300px; 
         
      }
      .blog-content{
        width: auto;
      }
      
    




}


